body {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}
h1 {
    color:red;
}
h2 {
    color: red;
}
h3 {
    color: red;
}
p {
    color: white;
}
a {
    color: white;
    background-color: red;
    padding: 10px;
    text-decoration: none;
}
div {
    background-color: #222222;
    padding: 30px;
    margin: 30px
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color:#333333;
    margin: 10px;
    padding: 10px;
    boder-radius: 5px;
}
